.signup-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
    border-radius: 50%;
}
.text-box{
    display: flex;
    width: 89%;
    padding-bottom: 10px;
}
.text-box input{
    display: flex;
    width: 100%;
    background-color: lightblue;
}
.submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: -100px;
}
.button{
    width: 90%;
    height: 25px;
    box-shadow: 10px;
}