#saver{
    display: flex;
    justify-content: center;
}
.form-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
}
#whole-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
#name-input{
    width: 420px;
}
#long-input{
    width: 130px;
}
#city-input{
    width: 200px;
}
#price-input{
    width: 410px;
}
#state-input{
    width: 125px;
}
.dividers{
    background-color: black;
    display: flex;
    height: 3px;
    width: 420px;
}
#address-input{
    width: 308px;
}
#country input{
    width: 400px;
}
.imgs{
    width: 420px;
}
textarea{
    resize: none;
    width: 420px;
    height: 120px;
}
#create-button{
    margin-top: 10px;
    margin-left: 180px;
    color: white;
    background-color: red;
}
.errors{
    color: red;
}